<% if requests.count > 0 %>
	<div class="container">
		<% requests.each do |f| %>
			<div id="div<%=f.id%>" class="ibox float-e-margins ">
				<div class="ibox-content">
					<h3 class="font-bold"><%= f.name %></h3>
					<%= link_to "Accept",approved_path({from_id: f.id}),remote: true,method: "put", class: "btn btn-outline btn-success" %>
					<%= link_to "Cancel",cancel_path({from_id: f.id}),remote: true,method: "delete", class: "btn btn-outline btn-warning"%>
				</div>
			</div>
		<% end %>
	<% else %>
<% end %>
